<alert ng-repeat="alert in alerts" ng-animate="'fadealert'"
       type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2 user-details">
    <div class="user-image">
      <img class="img-circle" id="userGravatar" gravatar-src="'{{loggedUser.emailAddress}}'">
    </div>
    <div class="user-info-block">
      <div class="user-heading">
        <h3>{{loggedUser.firstName + ' ' + loggedUser.lastName}}</h3>
        <span ng-if="loggedUser.isAdmin == true" class="label label-info">Administrator</span>
        <span ng-if="loggedUser.isAdmin == false" class="label label-default">User</span>
      </div>
      <tabset justified="true" class="tab-animation user-body">
        <tab heading="My Activities">
          <button class="btn btn-primary btn-lg btn-block" style="margin-bottom: 15px"
                  ng-if="loggedUser" ng-click="newActivity()">
            <i class="fa fa-pencil" style="padding-right: 10px"></i> What's on your mind?
          </button>
          <div class="no-activities" ng-if="activities.activity.length == 0">
            <span>=(</span>
            There are no activities here.
          </div>
          <div class="[ panel panel-default ] user-activities"
               ng-repeat-start="activity in activities.activity | filter:getLoggedUserActivities"
               ng-if="activity.length != 0">
            <div class="dropdown">
              <a href="" ng-click="deleteActivity(activity)"
                 tooltip="Delete" tooltip-placement="bottom" tooltip-popup-delay="500">
                <i class="fa fa-times"></i>
              </a>
            </div>
            <div class="panel-heading">
              <a href="#/users/{{activity.uid}}">
                <img class="[ img-circle pull-left ]" gravatar-src="'{{activity.picture}}'" width="46" />
              </a>
              <h3>
                <a href="#/users/{{activity.uid}}">You</a> said:
              </h3>
              <h5>
                <span>{{activity.date | date:'EEEE, dd MMMM yyyy, HH:mm'}}</span>
              </h5>
            </div>
            <div class="panel-body">
              <a href="" class="btn btn-default btn-sm commentBtn" ng-click="newComment(activity)">
                <i class="fa fa-reply fa-flip-horizontal"></i>
              </a>
              <p>{{activity.body}}</p>
            </div>
          </div>
          <!--Comments to activities-->
          <div class="[ panel panel-default ] user-activities user-replies"
               ng-repeat-end ng-repeat="comment in comments.comment"
               ng-if="comment.aid == activity.aid">
            <div class="dropdown">
              <a href="" ng-click="deleteComment(comment)"
                 tooltip="Delete" tooltip-placement="bottom" tooltip-popup-delay="500">
                <i class="fa fa-times"></i>
              </a>
            </div>
            <div class="panel-heading">
              <a href="">
                <img class="[ img-circle pull-left ]" gravatar-src="'{{comment.picture}}'" width="46" />
              </a>
              <h3 ng-if="comment.uid != loggedUser.uid">
                <a href="#/users/{{activity.uid}}">{{comment.title}}</a> commented:
              </h3>
              <h3 ng-if="comment.uid == loggedUser.uid">
                <a href="#/users/{{activity.uid}}">You</a> commented:
              </h3>
              <h5>
                <span>{{comment.date | date:'EEEE, dd MMMM yyyy, HH:mm'}}</span>
              </h5>
            </div>
            <div class="panel-body">
              <p class="commentBody">{{comment.body}}</p>
            </div>
          </div>
        </tab>
        <tab heading="My Messages">
          <div class="no-activities"
               ng-if="messages.message.from != loggedUser.uid && message.message.length == 0">
            <span>=(</span>
            You have no messages.
          </div>
          <div class="[ panel panel-default ] user-messages"
                  ng-repeat="message in messages.message"
                  ng-if="message.from != loggedUser.uid"
                  ng-click="openMessage(message)">
            <div class="dropdown">
              <a href="" ng-click="deleteMessage(message)"
                 tooltip="Delete" tooltip-placement="bottom" tooltip-popup-delay="500">
                <i class="fa fa-times"></i>
              </a>
            </div>
            <div class="panel-heading">
              <a href="#/users/{{message.from}}">
                <img class="[ img-circle pull-left ]" gravatar-src="'{{message.fromPicture}}'" width="46" />
              </a>
              <h3>
                <a href="#/users/{{message.from}}">{{message.fromName}}</a> wrote you a message:
              </h3>
              <h5>
                <span>{{message.date | date:'EEEE, dd MMMM yyyy, HH:mm'}}</span>
              </h5>
            </div>
            <div class="panel-body">
              <p class="messageBody">{{message.body}}</p>
            </div>
          </div>
        </tab>
        <tab heading='My Profile'>
          <div ng-hide="loggedUser.profileInfo == true">
            <legend>
              <a href="" ng-click="editProfile()" class="btn btn-default btn-xs pull-right"><i class="fa fa-pencil"></i> Update</a>
              <h4>About Me</h4>
            </legend>
            <p>
              <i class="fa fa-birthday-cake fa-lg fa-fw"></i> You haven't set your birthday yet.
            </p>
            <p>
              <i class="fa fa-map-marker fa-lg fa-fw"></i> You haven't set your location yet.
            </p>
            <p>
              <i class="fa fa-info fa-lg fa-fw"></i> You haven't written anything about you yet.
            </p>
          </div>
          <div ng-show="loggedUser.profileInfo == true">
            <legend>
              <a href="" ng-click="editProfile()" class="btn btn-default btn-xs pull-right"><i class="fa fa-pencil"></i> Update</a>
              <h4>About Me</h4>
            </legend>
            <p>
              <i class="fa fa-birthday-cake fa-lg fa-fw"></i> {{loggedUser.birthday}}
            </p>
            <p>
              <i class="fa fa-map-marker fa-lg fa-fw"></i> {{loggedUser.location}}
            </p>
            <p>
              <i class="fa fa-info fa-lg fa-fw"></i> {{loggedUser.bio}}
            </p>
          </div>
        </tab>
        <tab heading="My Account">
          <legend>
            <h4>Account Settings</h4>
          </legend>
          <form role="form" ng-submit="changeAccountSettings()">
            <div class="form-group">
              <label for="editFirstName">First Name</label>
              <input type="text" class="form-control" id="editFirstName" placeholder="Your first name" ng-model="loggedUser.firstName">
            </div>
            <div class="form-group">
              <label for="editLastName">Last Name</label>
              <input type="text" class="form-control" id="editLastName" placeholder="Your last name" ng-model="loggedUser.lastName">
            </div>
            <div class="form-group">
              <label for="editEmail">E-mail address</label>
              <input type="email" class="form-control" id="editEmail" placeholder="Your e-mail" ng-model="loggedUser.emailAddress">
            </div>
            <div class="form-group">
              <label for="editPass">Password</label>
              <input type="password" class="form-control" id="editPass" placeholder="Choose a password" ng-model="loggedUser.password">
            </div>
            <button type="submit" class="btn btn-primary" id="saveAccountSettings">Save changes</button>
          </form>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<div class="modal-backdrop user-blocked fade in" ng-class="{in: animate}" ng-if="loggedUser.isBlocked == true">
  <i class="fa fa-warning fa-5x"></i>
  <span>Your access on this site <br> has been blocked.</span>
</div>
